@font-face {
    font-family: 'Kanit-regular';
    src: url('../assets/fonts/Kanit/Kanit-Regular.ttf');
}

@font-face {
    font-family: 'Kanit-bold';
    src: url('../assets/fonts/Kanit/Kanit-Bold.ttf');
}

body{
    font-family: 'Kanit-regular';
}