<div id="gameListContainer" cdkDropListGroup>
  <div
    cdkDropList
    id="uncompletedGameList"
    [cdkDropListConnectedTo]="['uncompletedGameList']"
    [cdkDropListData]="filteredGames"
    (cdkDropListDropped)="gameDrop($event)"
  >
    <h3>Your games</h3>
    <div class="gameList"    infiniteScroll   [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="150" [scrollWindow]="false" (scrolled)="onScroll()">
      @for (game of filteredGames; track game; let idx = $index) {

      <div id="{{ game['appid'] }}" class="gameItem" cdkDrag [cdkDragDisabled]="!completedListState">
        <img
          src="{{
            'https://steamcdn-a.akamaihd.net/steam/apps/' +
              game['appid'] +
              '/library_600x900.jpg'
          }}"
        />
        <div class="gameOverlay">
          <h4 class="gameName">{{ game["name"] }}</h4>
          <div class="gameDates">
            <div>
              <span>Hours played:</span>
              <h5>{{ game["playtime_forever"] / 60 | number : "1.0-0" }}</h5>
            </div>
            <div>
              <span>Last time played:</span>
              <h5>
                {{ game["rtime_last_played"] * 1000 | date : "shortDate" }}
              </h5>
            </div>
          </div>
        </div>
      </div>

      }
    </div>
  </div>

  <div
    cdkDropList
    [class]="completedListState ? 'showCompletedList' : 'hideCompletedList'"
    id="completedGameList"
    [cdkDropListConnectedTo]="['completedGameList']"
    [cdkDropListData]="completedGames"
    (cdkDropListDropped)="gameDrop($event)"
  >
    <button (click)="completedList()">
      <h3>Show Completed Games</h3>
    </button>
    <div id="completedListContainer">
      <button [disabled]="completedGames.length<8 || completedGamesIteration<1? true: false" (click)="changeFilter(-1)" ><</button>
      <div id="gameSlider">
        <div  class="gameList">
          @for (game of filteredCompletedGames; track game; let idx = $index) {

          <div id="{{ game['appid'] }}" class="gameItem" cdkDrag>
            <img
              src="{{
                'https://steamcdn-a.akamaihd.net/steam/apps/' +
                  game['appid'] +
                  '/library_600x900.jpg'
              }}"
            />
            <div class="gameOverlay">
              <h4 class="gameName">{{ game["name"] }}</h4>
              <div class="gameDates">
                <div>
                  <span>Hours played:</span>
                  <h5>
                    {{ game["playtime_forever"] / 60 | number : "1.0-0" }}
                  </h5>
                </div>
                <div>
                  <span>Last time played:</span>
                  <h5>
                    {{ game["rtime_last_played"] * 1000 | date : "shortDate" }}
                  </h5>
                </div>
              </div>
            </div>
          </div>

          }
        </div>
      </div>
      <button [disabled]="completedGames.length<=8 || (completedGamesIteration+1)*8 >completedGames.length" (click)="changeFilter(1)">></button>
    </div>
  </div>
</div>
